.addpet-container {
  min-height: 100vh;
  background: #fff7f1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.addpet-card {
  width: 100%;
  max-width: 550px;
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.addpet-card h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #ec8f48;
}

.addpet-card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.addpet-card input,
.addpet-card select {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 15px;
}

.addpet-card input:focus,
.addpet-card select:focus {
  outline: none;
  border-color: #ec8f48;
}

.preview-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
}

.addpet-card button {
  background: #ec8f48;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}

.addpet-card button:hover {
  background: #db6027;
}